//@import "../../styles/variables";
@import "~styles/variables";

.message{
    display:flex;
    flex-direction: column;
    min-width: 440px;

    &__avatar{
        display: flex;
        font-display: column-reverse;
        img{
            border-radius:  50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 23px;
        }
    }

    &__bubble{
        background: $blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius: 12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
    }

    &__username{
        font-style: 12px;
        opacity: 0.5;
    }

    &__text{
        color:#fff;
        line-height: 20px;
    }

    &--isfirst {
        display: flex;
        flex-direction: row-reverse;

        #{$self}__content {
            display: flex;
            max-width: 440px;
            margin-bottom: 20px;
            position: relative;
            //flex-direction: row-reverse;
        }

        #{$self}__avatar {
            img{
                margin-right: 0;
                margin-left: 13px;
            }
        }

        #{$self}__info {
           text-align: right;
        }

        #{&self}__bubble {
            background: #ffffff;
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
            border-radius: 12px 12px 0px 12px;
            #{$self}__text {
                color: $black;
            }

        }
    }
}